html {
    background-color: #fff;
    margin: 0;
    padding: 4px;
}

body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

a:link, a:visited,
a:active, a:hover {
    color: #333;
}

a:hover {
    background-color: #c7d1d6;
}

header, footer, hgroup,
nav, section {
    display: block;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    /*border: 2px solid #e2e2e2;*/
    background: #fff;
    color: #333;
    font-size: .85em;
    margin: 0px;
    width: 300px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 0px;
        margin-right: 4px;
    }

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;

    border: 0 none;
}


td {
    border: black 1px solid;
    font-size: .85em;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

.jyouken_panel th {
    border: black 1px solid;
    background-color:#99ccff;
    height:16px;
    text-align:left;
    border:none;
    font-size:10px;
}

.jyouken_panel td input{
    font-size: 10px;
    margin:0 auto 0 auto;
    padding:2px;
    height:14px;
  
    border-bottom: solid 1px #000;
  
}
.jyouken_panel td{
     padding-left:4px;
     border:none;
}
.ms_input {
    margin-top:-1px;
}
.ms_input tr{
    height:20px;
}

.ms_input td {
    padding:1px;
}
.ms_input input{
    border: black 2px inset ;
    font-size: 11px;
    margin:0 auto 0 auto;
    height:16px;
    padding:2px;
}


.ms_title td{
    background-color: #99ccff;
    border: black 1px solid;
    font-size: .85em;
    text-align:center;
    height:30px;
    padding:2px;
}

.jq_ms tr{
    cursor:pointer;
}
.jq_ms td{
    border: black 1px solid;
    font-size: 10px;
    padding:2px 2px 0px 2px;
    height:20px;
}



